@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?28770033');
    src: url('fonts/fontello.eot?28770033#iefix') format('embedded-opentype'),
    url('fonts/fontello.woff?28770033') format('woff'),
    url('fonts/fontello.ttf?28770033') format('truetype'),
    url('fonts/fontello.svg?28770033#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1.5em;
    text-align: center;

}

a {
    color: #584d40;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body, h2, h3, h4, p {
    font-weight: 300
}

*:focus {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin-bottom: -3px;
    position: relative;
}

/*=================================================================
header
===================================================================*/
header {
    background-size: cover;
    box-shadow: 0 1px 0px #4485d1;
    color: #144D90;
    height: 100vh;
    position: relative;
    width: 100%;
}

.content-header {
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 17px;
    position: relative;
    z-index: 2;
}

.header-bar {
    margin: auto;
    max-width: 70rem;
    width: 100%;
}

.logo {
    font-family: georgia, palatino, "book antiqua", "palatino linotype", serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 1px 1px #A4A4A4;
}
.logo span {
    display: block;
    font-size: .81em;
}

.logo a {

    color: #144D90;
}

.nav ul {
    text-align: right;
}

.logo, .nav {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.nav {
    width: 69%;
}

.nav li {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-left: 1.5rem;
}

.nav a {
    color: #144D90;
}

.nav a.current {
    background: #144D90;
    border-radius: 10rem;
    color: white;
    padding: 0.4rem 1.2rem;
}

.nav a:hover {
    text-decoration: underline;
}

@media (max-width: 800px ) {
    .nav {
        transition: all .5s ;
        -moz-transition: all .5s ;
        -webkit-transition: all .5s ;
        top: 0;
        right: -165px;
        width: 160px;
        background: #FFF ;
        padding: 23px 16px;
        z-index: 1000;
        position: fixed;
        box-shadow: 2px -1px 6px black;
    }
    .nav li{
        display: block;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
    }
    .logo{
        width: 100%;
    }
}
#banner {
    display: block;
    width: 100%;
}

#banner .item {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 135px);
    width: 100%;
}

.subscribe, .brand {
    background: #fff;
    color: #144D90;
    bottom: 0;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%
}
.images-content,.text-content,.images-content img{
    vertical-align: middle !important;
    display: inline-block !important;
    width: 49% !important;
    transition: all 1s;

}
.text-content{
    height: calc(100vh - 195px);
    opacity: 0;
}
.text-content span{
    padding: 11px;
    position: relative;
    display: block;
    top: 82%;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    background: rgba(0, 62, 106, 0.1);
}
.text-content.show span{
    transform: translateY(-30px);
}
.images-content{
    opacity: 0;
}
.text-content.show,.images-content.show{
    opacity: 1;
}
.images-content.show img:last-child{

    transition: all .5s;
}
.images-content.show img:first-child{

    transition: all 1s;
}
.images-content.show img{
    transform: translateX(8px);
}

.images-content img{
    max-width: 300px !important;
    transition: all 1s;
}
.images-content img:first-child{
    max-width: 200px !important;
    position: relative;
    left: 64px;
    z-index: 1;
    top: 24px;
}
.brand {
    box-shadow: 0 1px 0 #4485D1;
    bottom: 60px;
    z-index: 1;
}
.menu-mobile{
    display: none;
}
@media (max-width: 800px ) {

    .menu-mobile{
        background: #FFF ;
        display: block;
        position: absolute;
        top: 20px;
        left: -55px;
        padding: 4px 2px;
        border-radius: 2px;
        box-shadow: 0px 0px 1px #656565;
        cursor: pointer;
    }

    .menu-mobile div{
        width: 30px;
        background: #326BB0 ;
        margin: 5px;
        height: 3px;
    }
    .brand{
        display: none;
    }
    .mail{
        display: none;
    }
}
.subscribe-wrapper {
    margin: auto;
    max-width: 70rem;
    padding: 0 22px;
    width: 100%
}

.subscribe-wrapper a {
    color: #144D90;
}

.subscribe-wrapper a:hover {
    color: #4485d1;
}

.contact-li {
    border: 1px solid;
    padding: 4px 8px;
    border-radius: 4px;
}

.network {
    float: right;
}

.network li {
    display: inline-block;
}

input::after {
    content: "Read this -";
    position: absolute;
    top: 1px;
    left: 0px;
    color: #F00;
}

.subscribe-form {
    margin: 0 auto;
    max-width: 70rem;
}

.arrow {
    max-width: 25px;
    margin: auto;
    position: relative;
    top: -20px;
}

.features li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    margin-right: -3px;
}

@media (max-width: 800px ) {
    .features li {
        width: 50%;
    }
}

.features {
    max-width: 60rem;
    margin: 80px auto 100px;
}

.features b {
    color: #144D90;
    font-weight: 400;
    padding: 13px;
    display: block;
    font-size: .9rem;
}

.features span {
    box-shadow: 0 2px 1px #CBCBCB;
    border-radius: 50%;
    color: #4485D1;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    line-height: 125px;

}

hr {
    border: medium none;
    box-shadow: 0px 1px 0px #4485D1;
    height: 1px;
}

.column-2 {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
}

.compromiso {
    max-width: 70rem;
    margin: auto;
    padding: 22px;
}

.compromiso h2 {
    color: #144D90;
    font-size: 2rem;
    font-weight: 700;
}

.compromiso p {
    text-align: left;
    font-size: 1.15rem;
    margin-right: 50px;
    color: #144D90;
    line-height: 1.5em;

}

.compromiso figure {
    margin-left: 70px;
}

.testimonials {
    background: #4485D1;
    color: white;
    position: relative;
    top: -40px;
    z-index: -1;
}

@media (max-width: 800px ) {
    .column-2 {
        width: 100%;
    }

    .column-2 p {
        text-align: justify;
        margin-right: 0;
    }

    .compromiso figure {
        margin: auto;
        text-align: center;
    }

}

.testimonials h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 40px;
}

.testimonials-c {
    max-width: 50rem;
    margin: 0 auto;
    width: 100%;
}

.testimonials-c article {
    background: #FFF;
    color: #144D90;
    margin: 0 22px 20px;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 6px 0 #3871B6;
}

.testimonials-foot figure {
    max-width: 80px;
    margin: 22px;
    display: inline-block;
    vertical-align: middle;
}

.testimonials-foot figcaption {
    font-size: .9rem;
    color: #144D90;
    font-weight: 500;
}

.testimonials-foot figcaption span {
    display: block;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.testimonials-foot figcaption {
    display: inline-block;
    vertical-align: middle;
}

.arrow-testimonial {
    position: absolute;
    top: 0;
    right: 15px;
}

.arrow-testimonial span {
    font-weight: 900;
    border-radius: 50%;
    padding: 4px;
    font-size: 2rem;
}

.testimonials-foot figure img {
    border-radius: 50%;
}

.testimonials-foot {
    margin: 33px 0 0;
    position: relative;
}

.triangulo_top_left, .triangulo_top_left:before {
    width: 0;
    height: 0;
    border-top: 25px solid #3871B6;
    border-right: 25px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 50px;
}

.triangulo_top_left:before {
    content: '';
    border-top: 25px solid #fff;
    top: -33px;
    left: 0;

}

.article {

    background: #fff;
}

.article-figure, .content-article {
    display: inline-block;
    color: white;
    vertical-align: top;
    margin-left: -3px;
    position: relative;
    width: calc(50% + 1px);
}

@media (max-width: 800px) {
    .article-figure, .content-article {

        width: 100%;
        text-align: center;
        padding: 10px 5%;
        overflow: hidden;
    }
}

.content-article h2 {
    padding: 20px 3.5rem;
    font-weight: 600;
    background: rgb(249, 249, 249);
    color: rgb(56, 113, 182);
}

.content-article p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem 2rem;
    line-height: 1.3em;
    color: rgb(56, 113, 182);
}

.article-figure:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid #fff;
    border-bottom: 20px solid transparent;
    z-index: 1;
    top: calc(50% - 20px);
    right: -20px;
}

.article-figure.left:before {
    transform: rotate(180deg);
    left: -20px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.brand-wrapper {
    margin: auto;
    max-width: 70rem;
    width: 100%;
    text-align: center;
}

.brand-wrapper li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    line-height: 0;
    width: 50px;

}

.contact {
    position: relative;
}

.contact a {
    color: #326BB0;
    font-size: 1.3rem;
    font-weight: 600;
}

.form-contact {
    position: absolute;
    top: 2rem;
    left: 6rem;
    background: rgba(255, 255, 255, 0.9);
    width: calc(50vw - 6rem);
    padding: 2rem;
    box-shadow: 0 0 10px #cccccc;
    border-radius: 3px;
    font-weight: 600;
    color: #326BB0;
}
@media (max-width: 800px) {
    .form-contact {
        left: 10% !important;
        width: 80% !important;
    }
}

.form-contact input, .form-contact textarea {
    display: block;
    border: 1px solid #326BB0;
    padding: 10px;
    color: #326BB0;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#map-canvas {
    width: 100%;
    height: 600px;
}

.submit {
    width: 100%;
    text-align: right;
}

.submit button {
    padding: .6rem 1.2rem;
    border: 1px solid #326BB0;
    background: #326BB0;
    color: white;
}

.service {
    margin: 4rem auto;
    max-width: 70rem;
    width: 100%;
    text-align: left;
}

@media (max-width: 800px ) {
    .service {
        margin: 4rem 5%;
        text-align: justify;
        width: inherit;
    }
}

.service h2, .service h3 {
    color: #326BB0;
    font-weight: 400;
    font-size: 1.2rem;
}

.service h3 {
    margin: 1rem 0;
}

.service p {
    color: #326BB0;
}

.service-wrapper, .video {
    display: inline-block;
    width: 49%;
    padding-right: 1rem;
    vertical-align: middle;
}


.video {
    height: 300px;
}

.products li {
    display: inline-block;
    width: 24%;
    padding: 1rem 0;
}

.products li svg, .products li p {
    display: inline;
    width: 20px;
    vertical-align: middle;
}

.benefit li {
    width: 50%;
    display: inline-block;
    color: #326BB0;
    padding: .8rem 0;
    margin-right: -3px;
}

.warranty {

    margin: auto;
    max-width: 70rem;
    width: 100%;
    text-align: left;
}

.warranty li {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    padding: 1rem;
}

.warranty h2, .warranty h3 {
    color: #326BB0;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 2rem 0 .8rem;
}

.warranty p {
    text-align: left;
    color: #326BB0;
}

.warranty .content-li {
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #AAA;
}

.warranty img {
    width: inherit;
}

@media (max-width: 800px) {
    .warranty {
        padding: 0 5%;
    }

    .warranty li {
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        padding: .3rem;
    }
}

.sales p {
    font-size: 1.1rem;
    line-height: 1.2em;
}

.sales a {
    color: #326BB0;
    font-weight: 400;
}

.content-li figure {
    max-width: 120px;
    margin: 5px;
    height: 50px;
}

.call {
    text-align: center;
}

.call figure {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.show{
    right: 0;
}

@media (max-width: 800px) {

    .service-wrapper, .video {
        width: 100%;
        padding-right: 0;
    }
    .products li {
        width: 100%;
        font-size: .8rem;
    }
    .benefit li{
        width: 100%;
    }
    .middle{
        display: flex;
        flex-direction: column;
    }
    .middle figure{
        order: -1;
    }
}

.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 60px;
    height: 24px;
    text-align: center;
}

.owl-dot {
    height: 14px;
    width: 14px;
    z-index: 100;
    background: rgb(21, 134, 201);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid rgb(255, 255, 255);
}
.owl-dot.active {

    background:rgb(255, 255, 255) ;
    border: 2px solid rgb(21, 134, 201) ;
}